.App {
  text-align: center;
  height: 100vh;
}

.leftBox {
  background: #27ae60;
}
.switchOnLogo {
  width: 326px;
}
.toDoHeading {
  margin-bottom: 111px;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}
.emailBox {
  margin-bottom: 12px;
  padding-left: 40px !important;
}
.passwordBox {
  padding-left: 36px !important;
  margin-bottom: 36px;
}
.emailBox,
.passwordBox {
  background: #f2f2f2 !important;
  border-radius: 3px !important;
  height: 40px;
}
.emailBox::placeholder,
.passwordBox::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #a6a6a6;
}
.loginButton {
  background: #27ae60 !important;
  color: #ffffff !important;
  border: none !important;
}
.emailIcon {
  position: absolute;
  width: 20px;
  top: 12px;
  left: 12px;
}
.lockIcon {
  position: absolute;
  width: 16px;
  top: 9px;
  left: 12px;
}
.eyeIcon {
  position: absolute;
  width: 22px;
  top: 12px;
  right: 12px;
}
.sideBar {
  border-right: 1px solid #27ae60;
}
.MainContentArea {
  height: calc(100vh - 66px);
}
.sideNavBar {
  width: 42px;
  background: #484c4f;
}
.smallLogo {
  width: 30px;
}
.power {
}
.accountSection {
  height: 111px;
}
.profile {
  width: 44px;
  height: 44px;
}
.name {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.nameEmail {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.analytics {
  height: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #27ae60 !important;
  border: none !important;
}
.analytics-background {
  background: #f2f2f2;
}
.newTabBackground {
  background: #f2f2f2;
  height: 66px;
}
.newTab {
  background: #27ae60 !important;
  border: none !important;
  border-radius: 3px !important;
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.toDoHeadingName,
.inProgressHeadingName,
.doneHeadingName {
  height: 35px;
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  color: #ffffff;
}
.toDoHeadingName {
  background: #f2c94c;
}
.inProgressHeadingName {
  background: #27ae60;
}
.doneHeadingName {
  background: #2f80ed;
}
.toDoContent,
.inProgressContent,
.doneContent {
  background: #f8f8f9;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 0px 0px 6px 6px;
}
.selectedTab {
  background: black !important;
}
.toDoSheet {
  height: 206px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.toDoSheet:active {
  z-index: 10000;
}
.taskName {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.description {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #80878f;
}
.createTaskHeader {
  height: 94px;
  border-bottom: 1px solid #bdbdbd;
}
.leftArrow {
  width: 16px;
  height: 16px;
}
.leftArrow:hover {
  cursor: pointer;
}
.createTask {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.taskBoard {
  height: calc(100vh - 66px);
  overflow-y: scroll;
}
.NewTask .formLabel {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.NewTask .textBoxTaskName,
.NewTask .textBoxDescription {
  background: #f2f2f2;
  border-radius: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.NewTask .textBoxTaskName::placeholder,
.NewTask .textBoxDescription::placeholder {
  color: #a6a6a6;
}
.NewTask .textBoxTaskName {
  height: 26px;
}
.NewTask .textBoxDescription {
  height: 70px;
}
.NewTask .branchToButtonGroup {
  height: 24px;
  border-radius: 4px !important;
}
.NewTask .branchToButtons {
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background: white !important;
  color: #4f4f4f !important;
  border: 1px solid #e0e0e0 !important;
}
.NewTask .cancelButton,
.NewTask .createButton {
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.NewTask .cancelButton {
  color: #000000 !important;
  background: #e0e0e0 !important;
  border-radius: 4px !important;
  border: none !important;
}
.NewTask .createButton {
  background: #27ae60 !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  border: none !important;
}
.NewTask .selectedButton {
  background: #f2f2f2 !important;
}
.NewTask .branchToButtons {
  box-shadow: none !important;
}
.graphTitle {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.plus:hover,
.trend:hover,
.power:hover {
  cursor: pointer;
}
